.App {
  position: absolute;
  height: 100vh;
  width: 98.8vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  /* border: solid black; */
  background-color: white;
};